body {
  align-items: center;
}
input[type="text"] {
  border: 2px solid hsl(0, 93%, 68%);
  border-radius: 14px;
}
label {
  display: flex;
  height: auto;
}
label img {
  width: auto;
  height: auto;
}
.btn {
  height: 25px;
  width: 40px;
  background: Linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  padding: 2px;
  border: 2px solid hsl(0, 80%, 86%);
  border-radius: 14px;
  margin-left: -25px;
}
